API_ID=123456
API_HASH=your_telegram_api_hash
BOT_TOKEN=123456:your_bot_token
OWNER_ID=123456789
SUDO_USERS=123456789
CHANNEL_ID=-1001234567890
CHANNEL_ID2=-1001234567890
PREMIUM_LOGS=-1001234567890
MONGO_URL=mongodb://mongo:27017/extractor_bot
APPX_TOKENS=
BOT_TEXT=
THUMB_URL=
JOIN_URL=
UNSPLASH_QUERY=education
UNSPLASH_ACCESS_KEY=
